body {
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.block {
    border: 5px solid red;
    max-width: 800px;
    margin: 0px auto;
    height: 800px;
}

.block div {
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.block__1 {
    background-color: yellow;
}
.block__2 {
    background-color: blueviolet;
    position: relative;
    left: 50px;
    top: 60px;
}
.block__3 {
    background-color: aquamarine;
}